# Ignore Drupal's file directory
/web/sites/*/files/

# Ignore SimpleTest multi-site environment.
/web/sites/simpletest

# Ignore local settings file.
/web/sites/*/settings.local.php

# Ignore anything in private folder, including private files.
/private/

# Ignore git submodules
/drush/contrib/**/.git
/vendor/**/.git
/web/modules/**/.git
/web/themes/**/.git
/web/profiles/**/.git

# Ignore local system files
.DS_Store
/.idea/

/.env
